* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

#root {
    display: flex;
    justify-content: center;
}

form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

label {
    display: flex;
    align-items: center;
    gap: 2rem;
}

input {
    border: 1px solid gray;
    padding: 3px;
    border-radius: 3px;
}

span {
    width: 60px;
}

button {
    padding: 5px;
    border-radius: 5px;
    background: darkorange;
    color: white;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

button:active {
    opacity: 80%;
}

.error {
    color: red;
}