.header__container {
  height: 170px;
  display: flex;
  align-items: center;
  border: 1px solid black;
}
.header__container-center {
  width: 100%;
  display: flex;
}
.header__container-logo {
  width: 285px;
  border: 1px solid firebrick;
  padding-left: 2rem;
}

.header__container-welcome {
  flex: 1;
  border: 1px solid blue;
  padding-left: 2rem;
}
.header__container-welcome h1 {
  font-size: 30px;
  font-weight: 500;
}
.header__container-welcome p {
  color: gray;
  font-size: 18px;
}
.header__container-user {
  display: flex;
  border: 1px solid rosybrown;
  width: 300px;
}
.header__container-user img {
  cursor: pointer;
}
.header__container-user-align {
  display: flex;
  flex-direction: column;
  height: 75px;
  border: 1px solid orange;
  width: 100%;
}
.header__container-user-align div {
  gap: 1rem;
  display: flex;
}
.search-bar__container {
  position: relative;
}

.search-bar__container img {
  position: absolute;
  left: 5px;
  top: 15px;
}
.search-bar__container input {
  margin-top: 0.5rem;
  height: 35px;
  width: 90%;
  padding-left: 2rem;
  font-size: 17px;
}

.header__container-user-align button {
  color: white;
  font-weight: 500;
  font-size: 20px;
  background: #f54a25;
  width: 100%;
  border: none;
  padding: 0 2rem;
  height: 45px;
  border-radius: 7px;
  cursor: pointer;
}
.header__container-user-align h3 {
  font-size: 16px;
  font-weight: 500;
}

.profile_picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
