.word__container{
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    height: 50px;

}
.word__container span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
    border-bottom: 2px solid white;
    width: 18px;

}